body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1042&q=80);
    background-size: cover;
}



h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;

}

.clock {
    display: flex;

}

.clock div {
    margin: 5px;

}

.clock span {
    width: 200px;
    height: 150px;
    background-color: rgb(254, 211, 100, 0.7);
    /* background-color: rgba(0, 113, 218, 0.7); */
    opacity: 0.8;
    color: rgb(253, 55, 0);
    /* color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.clock .text {
    height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(228, 152, 38, 0.8);
    /* background: rgba(0, 65, 163, 0.8); */
    opacity: 0.8;
    color: white;

}

.clock #ampm {
    bottom: 298px;
    position: relative;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(121, 176, 221);
    color: rgb(255, 255, 255);
    top: 150px;

}

.label {
    width: 80px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.9);
    position: relative;
    border-radius: 20px;


}

.input {
    visibility: hidden;
}

.circle {
    width: 34px;
    background-color: rgb(23, 22, 22, 0.9);
    height: 34px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3.5px;
    animation: toggleOff 0.4s linear forwards;
    transition: all 0.4s ease-in-out;
}

.input:checked+.label {
    background-color: rgb(0, 0, 0, 0.9);
    transition: all 0.4s ease-in-out;

}

.input:checked+.label .circle {
    background-color: rgb(255, 255, 255, 0.9);
    animation: toggleOn .4s linear forwards;

}

@keyframes toggleOn {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(40px);
    }
}

@keyframes toggleOff {
    0% {
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0);
    }
}